@font-face {
  src: url("../font/MONTSERRAT-REGULAR.TTF");
  font-family: "Montserrat";
}

@font-face {
  src: url("../font/MONTSERRAT-BOLD.TTF");
  font-family: "Montserrat bold";
}

@font-face {
  src: url("../font/MONTSERRAT-SEMIBOLD.TTF");
  font-family: "Montserrat semibold";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.pt-4 {
  padding: 2rem 0 0 0 !important;
}

.py-4 {
  padding: 2rem 0 !important;
}

.py-5 {
  padding: 3rem 0 !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-dark {
  color: #000 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn:hover {
  background-color: #5972a2;
  color: #fff;
  cursor: pointer;
}

.catalogo {
  background-image: url("../img/catalogo.jpg");
  background-size: cover;
  padding: 2rem 0;
}

.catalogo .texto-catalogo {
  background-color: rgba(89, 114, 162, 0.7);
  color: #fff;
  padding: 1rem;
}

.catalogo .imagen-catalogo {
  background-color: rgba(89, 114, 162, 0.7);
  width: 100%;
  text-align: center;
}

.catalogo .imagen-catalogo img {
  padding: 2rem 0 2rem 0;
  width: 50%;
  margin: auto;
}

.catalogo button {
  background-color: #fff;
  color: #5972a2;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 2px solid #d5783d;
  width: 100%;
  font-family: "Montserrat";
}

@media only screen and (min-width: 768px) {
  .catalogo .texto-catalogo {
    padding: 4rem 2rem;
    font-size: 1.4rem;
  }
  .catalogo .texto-catalogo button {
    margin: 2rem 0 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .catalogo {
    position: relative;
  }
  .catalogo .texto-catalogo {
    width: 100%;
  }
  .catalogo .texto-catalogo h3, .catalogo .texto-catalogo h4 {
    width: 50%;
  }
  .catalogo .texto-catalogo button {
    width: 20%;
  }
  .catalogo .imagen-catalogo {
    background-color: transparent;
    position: absolute;
    right: 100px;
    top: 45px;
    width: 150px;
  }
  .catalogo .imagen-catalogo img {
    padding: 0;
    width: 100%;
  }
}

footer {
  background-color: #5972a2;
  color: #ffffff;
  padding: 2rem 1rem;
}

footer p {
  font-size: 1.4rem;
  font-family: 'Montserrat bold';
}

footer .left .redes img {
  width: 35px;
  padding: .5rem;
}

@media only screen and (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 2rem;
  }
  footer .right {
    margin-left: 40%;
  }
}

.franquicias {
  background-color: #5972a2;
  margin: auto;
  width: 100%;
  padding: 3rem 1.5rem;
  color: #fff;
}

.franquicias h3 {
  padding: 0 0 0.5rem 0;
  font-weight: bold;
}

.franquicias button {
  background-color: transparent;
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  width: 100%;
  font-family: "Montserrat";
}

.franquicias .img-franquicias img {
  width: 100%;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
  .franquicias {
    background-image: url("../img/franquicias.jpg");
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: #e2e2e0;
    color: #5972a2;
    width: 80%;
    margin: 3rem auto;
  }
  .franquicias .texto-franquicias {
    width: 50%;
  }
  .franquicias button {
    width: 30%;
    color: #5972a2;
    border: 2px solid #5972a2;
  }
  .franquicias .img-franquicias {
    display: none;
  }
}

header {
  background-image: url("../img/header-mobile.jpg");
  background-size: cover;
  background-position: center;
  height: 1085px;
  padding: 1rem 1rem;
}

header .logo {
  width: 25%;
}

header .logo img {
  width: 100%;
}

header .texto-header {
  width: 100%;
  padding: 2rem 0 5rem 0;
}

header .texto-header h1 {
  font-family: 'Montserrat bold';
  line-height: 1;
  color: #5972a2;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

header .texto-header p {
  font-family: 'Montserrat bold';
  color: #5972a2;
  margin-bottom: 65%;
  width: 70%;
}

header .form-contact form input, header textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #5972a2;
  border-radius: 1rem;
  padding: 0 0.7rem;
  font-family: "Montserrat";
}

header .form-contact {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header .form-contact button {
  background-color: #5972a2;
  color: #fff;
  padding: .2rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: .5rem 0 0 0;
  font-family: "Montserrat";
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  header .texto-header h1 {
    font-size: 2.9rem;
    margin: 0 6rem;
  }
  header .form-contact {
    margin: 6rem;
  }
}

@media only screen and (min-width: 992px) {
  header {
    background-image: url("../img/banner1.png");
    background-position: left;
    height: 140vh;
  }
  header .logo {
    width: 13%;
  }
  header .wrapper {
    padding: 1rem 0 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .wrapper .texto-header {
    width: 55%;
    margin: 0;
    padding-right: 2rem;
  }
  header .wrapper .texto-header h1 {
    margin: 0;
  }
  header .wrapper .texto-header p {
    margin: 1rem 0;
    width: 100%;
  }
  header .wrapper .form-contact {
    margin: 0 2rem 0 0;
    width: 40%;
  }
}

@media only screen and (min-width: 1400px) {
  header .wrapper .texto-header {
    padding: 5rem 0rem 5rem 0;
    width: 55%;
  }
  header .wrapper .texto-header h1 {
    font-size: 3.4rem;
    padding-right: 6rem;
  }
  header .wrapper .texto-header p {
    font-size: 1.4rem;
  }
}

.info-logos {
  background-color: #e2e2e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  font-weight: bold;
}

.info-logos .logo {
  width: 33%;
  text-align: center;
}

.info-logos .logo img {
  width: 33%;
}

.info-logos .logo p {
  font-size: .5rem;
  line-height: 1.3;
  color: #5972a2;
}

@media only screen and (min-width: 992px) {
  .info-logos .logo img {
    width: 15%;
  }
  .info-logos .logo p {
    font-size: .9rem;
  }
}

.productos {
  text-align: center;
  padding: 2rem 0rem;
}

.productos .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productos .wrapper .producto {
  width: 42%;
  padding: 2%;
  text-align: center;
}

.productos .wrapper .producto img {
  width: 100%;
}

.productos .wrapper .producto p {
  font-size: .7rem;
}

.productos button {
  background-color: transparent;
  color: #5972a2;
  padding: .2rem;
  border-radius: 0.5rem;
  border: 2px solid #5972a2;
  width: 50%;
  margin: auto;
  margin-top: .5rem;
  font-family: "Montserrat";
}

@media only screen and (min-width: 992px) {
  .productos h3 {
    font-size: 1.5rem;
  }
  .productos button {
    margin-top: 3rem;
    width: 20%;
  }
  .productos .wrapper .producto {
    width: 29%;
    padding: 2%;
  }
  .productos .wrapper .producto p {
    font-size: 1rem;
  }
}

.contactar {
  background-color: #d5783d;
  color: #5972a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
  font-family: 'Montserrat bold';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactar p {
  color: #fff;
  width: 60%;
}

.contactar button {
  width: 100%;
  background-color: #fff;
  color: #5972a2;
  padding: 0 .5rem;
  border-radius: 0.5rem;
  border: 2px solid #5972a2;
  font-family: "Montserrat";
  height: 28px;
}

@media only screen and (min-width: 992px) {
  .contactar p {
    font-size: 1.3rem;
  }
  .contactar button {
    width: 200px;
  }
}

#whatsapp {
  position: fixed;
  top: 85%;
  right: 75%;
}

#whatsapp i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#whatsapp i:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#whatsapp i:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media (min-width: 998px) {
  #whatsapp {
    position: fixed;
    top: 85%;
    right: 90%;
  }
  #whatsapp img {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  #whatsapp:hover {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
  #whatsapp :active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=style.css.map */