#whatsapp {
  position: fixed;
  top: 85%;
  right: 75%;
  i {
    transition: all 0.2s;
    &:hover {
      transform: scale(1.25);
    }
    &:active {
      transform: scale(0.8);
    }
  }
}

@media (min-width: 998px) {
  #whatsapp {
    position: fixed;
    top: 85%;
    right: 90%;
    img {
      transition: all 0.2s;
    }
    &:hover {
      filter: brightness(1.3);
    }
    :active {
      transform: scale(0.8);
    }
  }
}
